  /* Adjust the positioning of tabs and transfer content */
  .tab-container {
    display: flex;
  }

  .nav-container {
    flex: 1;
  }

  .transfer-container {
    flex: 3;
    background-color: #f0f0f0; /* Set a background color for the transfer content */
    padding: 20px;
  }

  .nav .btn.button3.active,
  .nav .btn.button3:active {
    background-color: #95d0f2;
    color: #000000;
  
  }
  
  .nav .btn.button3 {
    background-color: rgba(223, 220, 220, 0.905);
    color: #000000;
   
  }
  .button2 {
    background-color: #4681f4 !important;
    color: aliceblue;
}

.button1{
    background-color: #46f48f!important;
}

.transfer-button-container {
    text-align: right; /* Move the button to the right within its container */
}

/* Center the modal title and change its color to light blue */
.modal-title {
    text-align: center;
   
}
.btutton4{
    background-color: rgb(249, 107, 107);
}


/* CSS file */
.amount-column.withdrawal {
  color: red; /* Text color for withdrawals */
}

.amount-column.deposit {
  color: rgb(28, 170, 28); /* Text color for deposits */
}

.chart-container {
  width: 90%; /* Adjust this value for the desired width */
  height: 300px;
  margin: 0 auto; /* Center horizontally */
  display: flex;
  justify-content: center; /* Center horizontally within parent container */
  align-items: center; /* Center vertically within parent container */
}